*{
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #212121;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
   
}

.menu .menu_link{
    
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;

}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.supheader{
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6)
     
}

.supheader .supheader_logo{
    max-width: 100%;
    display: block;
    margin-top: 16px;
}

.supheader .supheader_official{
    margin-top: 6px;
    opacity: 0.6;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
}

.supheader .header_number {
    margin-top: 21px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF
}

.supheader .header_number span {
    font-size: 22px;
}

.supheader .button_header{
    margin-top: 18px;
    Width: 172px;
    Height: 46px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;

}

.promo{
   
    min-height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 180px 0 130px 0;
    
}    

.promo .promo_header{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo .promo_supheader{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo .promo_text{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btm{
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    }


    .advantages{
        margin-top: 20px;
        min-height: 850px;
    }

    .advantages .advantages_header{
        margin: 0 auto;
        width: 112px;
        height: 24px;
        background: rgba(0, 0, 0, 1);
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .advantages .advantages_supheader{
        margin-top: 43px;
        margin-bottom: 33px;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #222222;

    }

    .advantages .advantages_item{
        display: flex;
        align-items: center;
        margin-bottom: 37px;
        margin-left: 35px;

    }

    .advantages .advantages_img{
        min-width: 112px;
        min-height: 113px;
        background: #1EACC7;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .advantages .advantages_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 300px;
        min-height: 150px;
        margin-left: 27px;
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: #202020;
    }

    .advantages .advantages_text span{
        font-weight: normal;
        font-size: 17px;
        color: #1EACC7;}